<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/question.css">
    <title>Quiz</title>
</head>
<body>
    <header>
        <h1>MATH QUIZ</h1>
        <h2>Domanda <span id="question-number"></span></h2>
    </header>

    <main>
        <div id="question-box">
            <p id="question-text"></p>
        </div>

        <div id="answers-box">
            <!-- Risposte -->
            <button id="answer-1" class="answer">Risposta 1</button>
            <button id="answer-2" class="answer">Risposta 2</button>

            <!-- Timer -->
            <div id="timer-box">
                <p id="timer">15</p>
            </div>

            <!-- Altre risposte -->
            <button id="answer-3" class="answer">Risposta 3</button>
            <button id="answer-4" class="answer">Risposta 4</button>
        </div>
    </main>

    <script type="module" src="../scripts/question.js"></script>
</body>
</html>
