<!DOCTYPE html>
<html lang="it">
<head>
    <!-- Per github -->
    <base href="https://enrico-favale.github.io/Quiz">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/welcome.css">

    <title>Quiz</title>
</head>
<body>
    <header>
        <h1>MATH QUIZ</h1>
    </header>

    <main>
        <!-- Box per impostare il numero di domande -->
        <div id="set-questions-box">
            <p>Imposta il numero di domande</p>
            <select name="questions-input" id="questions-input">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </select>
        </div>

        <!-- Pulsanti di avvio -->
        <div id="start-buttons">
            <button id="start-math-button">START</button>
        </div>
    </main>

    <script type="module" src="../scripts/welcome.js"></script>
</body>
</html>
